<!DOCTYPE html>
<html>
    <head>
        <title>jihyuk's instagram</title>
    </head>
    <body>
        <h1>글이 성공적으로 작성되었습니다.</h1>
        <p>title : <%=@title%></p>
        <p>content : <%=@content%></p>
    </body>
</html>